<section id="about" class="about-section">
  <div class="about-section__container">
    <div class="about-section__header">
      <p class="about-section__text">
        Apasionado por transformar ideas complejas en
        <span class="about-section__highlight">
          experiencias digitales accesibles e intuitivas.
        </span>
        <br />
        <span class="about-section__subtext">
          Busco integrarme a equipos multidisciplinarios donde el código de alto rendimiento y el
          diseño centrado en las personas se unan para generar impacto real.
        </span>
      </p>
    </div>

    <img
      class="about-section__image"
      src="assets/technologies.jfif"
      alt="Skills"
      width="800"
      height="800"
    />
  </div>
</section>
