<header class="header">
  <nav class="header__nav">
    <div class="header__container">
      <!-- Logo -->
      <a routerLink="/" class="header__brand">
        <img class="header__logo" src="assets/logo/logo.png" alt="Logo" width="100" height="100" />
      </a>

      <!-- Nav links -->
      <ul class="header__menu">
        @for (link of links; track link.id) {
          <li class="header__item">
            <a [href]="'#' + link.id" class="header__link"> {{ link.label | transloco }} </a>
          </li>
        }
      </ul>

      <app-theme-toggle />
      <app-lang-selector />
    </div>
  </nav>
</header>
