<header class="header">
  <nav class="header__nav">
    <div class="header__container">
      <!-- Logo -->
      <a routerLink="/" class="header__brand">
        <img class="header__logo" src="assets/logo.png" alt="Logo" width="100" height="100" />
      </a>

      <!-- Nav links -->
      <ul class="header__menu">
        <li class="header__item">
          <a href="#home" class="header__link"> Home </a>
        </li>
        <li class="header__item">
          <a href="#about" class="header__link"> About </a>
        </li>
        <li class="header__item">
          <a href="#lab" class="header__link"> Lab </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
