<section id="projects" class="projects-section">
  <div class="projects-section__container">
    <h2 class="projects-section__title">{{ 'PROJECTS' | transloco }}</h2>

    <div class="projects-section__grid">
      @for (card of projectCards; track card.id) {
        <article class="projects-section__card">
          <div class="projects-section__card-icon-wrapper">
            <img
              class="projects-section__card-icon"
              [src]="card.icon"
              [alt]="card.title | transloco"
              width="160"
              height="160"
              loading="lazy"
            />
          </div>

          <div class="projects-section__card-content">
            <h3 class="projects-section__card-title">
              {{ card.title | transloco }}
            </h3>

            <p class="projects-section__card-description">
              {{ card.description | transloco }}
            </p>

            <a
              class="projects-section__card-link"
              [href]="card.link"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ 'LEARN_MORE' | transloco }} &rarr;
            </a>
          </div>
        </article>
      }
    </div>
  </div>
</section>
