<section id="home" class="hero-banner">
  <div class="hero-banner__container">
    <div class="hero-banner__grid">
      <div class="hero-banner__media">
        <!-- <div class="hero-banner__avatar-wrapper"> -->
        <!-- Tooltip Móvil -->
        <div class="hero-banner__tooltip hero-banner__tooltip--mobile">
          <div class="hero-banner__greeting-box">
            <p class="hero-banner__greeting-text">
              {{ 'HERO_GREETING' | transloco }}
              <span class="hero-banner__highlight">{{ 'FULL_NAME' | transloco }}</span>
            </p>
          </div>
        </div>

        <img
          class="hero-banner__image"
          src="assets/profile/me.jpg"
          [alt]="'HERO_PROFILE_ALT' | transloco"
          width="300"
          height="300"
        />
        <!-- </div> -->
      </div>

      <div class="hero-banner__content">
        <!-- Tooltip Desktop -->
        <div class="hero-banner__tooltip hero-banner__tooltip--desktop">
          <div class="hero-banner__greeting-box hero-banner__greeting-box--desktop">
            <p class="hero-banner__greeting-text">
              {{ 'HERO_GREETING' | transloco }}
              <span class="hero-banner__highlight">{{ 'FULL_NAME' | transloco }}</span>
            </p>
          </div>
        </div>

        <div>
          <p class="hero-banner__subtitle">{{ 'HERO_SUBTITLE' | transloco }}</p>
          <h1 class="hero-banner__title">
            {{ 'HERO_TITLE_LINE_1' | transloco }}
            <br />
            {{ 'HERO_TITLE_LINE_2' | transloco }}
            <span class="hero-banner__highlight-wrapper">
              <span class="hero-banner__gradient-text">
                {{ 'HERO_TITLE_HIGHLIGHT' | transloco }}
              </span>
            </span>
            ...
          </h1>
          <p class="hero-banner__description">
            {{ 'HERO_DESCRIPTION' | transloco }}
          </p>
        </div>
      </div>
    </div>

    <!-- BIOGRAPHY SECTION -->
    <div class="hero-banner__details">
      <p class="hero-banner__typing-title">
        {{ 'I_AM' | transloco }} {{ displayedText() }}
        <span class="hero-banner__cursor">|</span>
      </p>

      <p class="hero-banner__bio">
        {{ 'HERO_BIO' | transloco }}
      </p>
    </div>
  </div>
</section>
